<div class="container ">
  <div class="row">
    <div class="col-md"> <!-- text-centerを追加 -->
      <main>
        <h2>User info</h2>
        <%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
          <div>Name </div>
          <div> <%= f.text_field :name, autofocus: true, id: "inputName"%></div>
          <div>
            <% if @user.errors.has_key?(:name) %>
              <p class="error"><%= @user.errors.full_messages_for(:name).join(', ') %></p>
            <% end %>
          </div>

          <div>Image</div>
          <div class="mb-3">
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>

          <div>Introduction</div>
          <%= f.text_area :introduction, autofocus: true, id: "inputIntroduction" %>

          <!-- エラーメッセージを表示 -->
          <div>
            <% if @user.errors.has_key?(:introduction) %>
              <p class="error"><%= @user.errors.full_messages_for(:introduction).join(', ') %></p>
            <% end %>
          </div>
          <button type="submit" class="btn btn-secondary">Update User</button>
        <% end %>
          <div class="copy1 text-center">CopyRight Infratop.inc</div>
      </main>
    </div>
  </div>
</div>
