<div class="container">
  <div class="row">
    <div class="col-md-3">
      <main>
        <!-- Users -->
        <h2>User info</h2>
        <table>
          <tr>
            <td><%= image_tag current_user.get_profile_image(100, 100) %></td>
            <td></td>
          </tr>
          <tr class="table">
            <td><b>name</b></td>
            <td><b><%= current_user.name %></b></td>
          </tr>
          <tr class="table">
            <td><b>introduction</b></td>
            <td><b><%= current_user.introduction %></b></td>
          </tr>
        </table>

        <a href="<%= edit_user_path(current_user) %>" class="btn btn-outline-secondary w-100">
          <i class='fas fa-user-cog'></i>
        </a>

     <h2>New book</h2>
        <%= form_with(model: @book, url: books_path, method: :post) do |f| %>
          <div class="mb-3">
            <%= f.label :title, class: "form-label" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :opinion, class: "form-label" %>
            <%= f.text_area :body, class: "form-control", rows: 3 %>
          </div>
          
          <button type="submit" class="btn btn-success">Create Book</button>
        <% end %>
    </div>
   

    <div class="col-md-8 offset-md-1">
      <!-- Books -->
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr class="columnb">
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100, 100) %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>
  </div>
</div>
