
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- Users -->
      <h1>User info</h1>
   
      <table>
        <tr>
          <td><%= image_tag @user.get_profile_image(100, 100) %></td>
          <td></td>
        </tr>
        <tr>
          <td><b>name</b></td>
          <td><b><%= @user.name %></b></td>
        </tr>
        <tr>
          <td><b>introduction</b></td>
          <td><b><%= @user.introduction %></b></td>
        </tr>
      </table>

        <button type="button" class="btn btn-secondary">
          <%= link_to raw("<i class='fas fa-user-cog'></i> "), edit_user_path(@user) %>
        </button>
    

      <h1>New book</h1>
      <%= form_for @book, url: books_path, method: :post do |f| %>
        <div>Title</div>
        <%= f.text_field :title %>
        <div>Opinion</div>
        <%= f.text_area :body %>
        <div><%= f.submit 'Create Book' %></div>
      <% end %>
    </div>

 <div class="col-md-8 offset-md-1">
      <!-- Books -->
      <h1>Books</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100, 100) %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



