Users
<h1>User info</h1>

<table>
  <tr>
    <td><%= image_tag @user.get_profile_image(100, 100) %></td>
    <td></td>
  </tr>
  <tr>
    <td><b>name</b></td>
    <td><b><%= @user.name %></b></td>
  </tr>
  <tr>
    <td><b>introduction</b></td>
    <td><b><%= @user.introduction %></b></td>
  </tr>
</table>

<% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>

<%= link_to "Book一覧", books_path %>
<h1>画像投稿フォーム</h1>
<%= form_with model: @book do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>ショップ名</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>


