
  <div class="container">
  <div class="row">
  <div class="col-md-3">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
 <h2>User info</h2>
<table>
  <tr>
    <td><%= image_tag @book.user.get_profile_image(100, 100) %></td>
    <td></td>
  </tr>
  <tr class="table">
    <td><b>name</b></td>
    <td><b><%= @user.name %></b></td>
  </tr>
  <tr class="table">
    <td><b>introduction</b></td>
    <td><b><%= @user.introduction %></b></td>
  </tr>
</table>




<a href="<%= edit_user_path(@user) %>" class="btn btn-outline-secondary w-100"><i class='fas fa-user-cog'></i></a>

  <h2>New book</h2>
<%= form_for @newbook, url: books_path, method: :post do |f| %>
          <div class="mb-3">
            <%= f.label :title, class: "form-label" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :opinion, class: "form-label" %>
            <%= f.text_area :body, class: "form-control", rows: 3 %>
          </div>

<div><%= f.button class: 'btn btn-success', type: 'submit' do %>
  Create Book</div>
<% end %>

<% end %>
</div>

<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
  <tr>
    <td>
      <%= link_to user_path(@book.user.id) do%> 
    <%= image_tag @user.get_profile_image(100, 100) %>
     <%= link_to @user.name, user_path(@user) %>
  <% end %>
    </td>
    <td><%= link_to @book.title, book_path(@book) %></td>
    <td><%= @book.body %></td>
    <td>
  <% if @book.user == current_user %>
    <button type="button" class="btn btn-success">
      <%= link_to 'Edit', edit_book_path(@book), class: 'text-white' %>
    </button></td>

    <td><button type="button" class="btn btn-danger">
      <%= link_to 'Destroy', book_path(@book), method: :delete, class: 'text-white', data: { confirm: 'Are you sure?' } %>
    </button></td>
  <% end %>
  </tr>
</table>
 
</div>
</div>
</div>
