
  <div class="container">
  <div class="row">
  <div class="col-md-3">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  <h1>User info</h1>
<table>
  <tr>
    <td><%= image_tag @book.user.get_profile_image(100, 100) %></td>
    <td></td>
  </tr>
  <tr>
    <td><b>name</b></td>
    <td><b><%= @user.name %></b></td>
  </tr>
  <tr>
    <td><b>introduction</b></td>
    <td><b><%= @user.introduction %></b></td>
  </tr>
</table>


  <div class="d-grid gap-2 ">
    <button type="button" class="btn btn-outline-secondary  w-100">
      <%= link_to raw("<i class='fas fa-user-cog'></i> "), edit_user_path(@user) %>
    </button>
  </div>


<h1>New book</h1>
<%= form_for @newbook, url: books_path, method: :post do |f| %>
  <div>Title</div>
  <%= f.text_field :title, value: nil %>
  <div>Opinion</div>
  <%= f.text_area :body, value: nil %>
<div><%= f.button class: 'btn btn-success', type: 'submit' do %>
  Create Book</div>
<% end %>

<% end %>
</div>

<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<table>
 

  <tr>
    <td>
      <%= link_to user_path(@book.user.id) do%> 
    <%= image_tag @user.get_profile_image(100, 100) %>
  <% end %>
    </td>
    <td><%= link_to @book.title, book_path(@book) %></td>
    <td><%= @book.body %></td>
    <td>
  <% if @book.user == current_user %>
    <button type="button" class="btn btn-success">
      <%= link_to 'Edit', edit_book_path(@book), class: 'text-white' %>
    </button>
    <button type="button" class="btn btn-danger">
      <%= link_to 'Destroy', book_path(@book), method: :delete, class: 'text-white', data: { confirm: 'Are you sure?' } %>
    </button>
  <% end %>
</td>

  </tr>
</table>
  
   <div><%= link_to @user.name, user_path(@user) %></div>
</div>
</div>
</div>
