<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Bookers2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<%= csrf_meta_tags %>
   <%= csp_meta_tag %>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://kit.fontawesome.com/017620df0e.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bookers2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- navbar 内のリンクを修正 -->
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to user_path(current_user.id), class: 'nav-link' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path, class: 'nav-link' do %>
              <i class="fas fa-users"></i> Users
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to books_path, class: 'nav-link' do %>
              <i class="fas fa-book-open"></i> Books
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i> Log out
            <% end %>
          </li>
          <!-- 以下は current_user の場合にのみ表示 -->
          <li class="nav-item">
            <% if current_user.id == params[:id] %>
              <%= link_to edit_user_registration_path, class: 'nav-link' do %>
                <i class="fas fa-user-cog"></i> Edit Profile
              <% end %>
              <%= link_to 'Delete Account', registration_path(current_user), method: :delete, class: 'nav-link', data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
        <% else %>
          <!-- ログインしていない場合のリンク -->
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to home_about_path, class: 'nav-link' do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
              <i class="fas fa-user-plus"></i> Sign up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fas fa-sign-in-alt"></i> Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>
</body>
</html>
